<%- include('includes/headAdmin.ejs') %>
<%- include('includes/sidebar.ejs') %>

<link rel="stylesheet" href="/css/adminStyle.css">
<script
    src="https://kit.fontawesome.com/77587b01e9.js"
    crossorigin="anonymous"
></script>

<div class="table-responsive">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2><b>Ejercicios</b></h2>
            </div>
            <div class="col-sm-6">
                <a href="/admin/admindashboard/ejercicios/nuevoejercicio" class="btn btn-success"><i class="material-icons"></i> <span>Agregar Nuevo Ejercicio</span></a>
                <a href="/admin/admindashboard/ejercicios/grafica" class="btn" style="background-color: #D2CA03; color: #000000;"><i class="material-icons"></i> <span>Ver Gráfica</span></a>
            </div>
        </div>
    </div>
    <table class="table-active table-striped">
        <thead class="table-header">
            <tr>
                <th scope="col">ID Ejercio</th>
                <th scope="col">Categoría</th>
                <th scope="col">Nivel de intensidad</th>
                <th scope="col">Nombre Ejercicio</th>
                <th scope="col">Descripción Ejercicio</th>
                <th scope="col">Referencia Visual</th>
                <th scope="col">Imagen Ejercicio</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i < ejercicio.length; i++) { %>
            <tr>
                <th scope="row"><%= ejercicio[i].id_ejercicio %></th>
                <td><%= ejercicio[i].categoria %></td>
                <td><%= ejercicio[i].nivel_intensidad %></td>
                <td><%= ejercicio[i].nombre_ejercicio %></td>
                <!-- dont show all the text -->
                <td class="cell-class"><%= ejercicio[i].descripcion_ejercicio %></td>
                <td><%= ejercicio[i].referencia_visual%></td>
                <td class="cell-class"><%= ejercicio[i].imagen_ejercicio %></td>
                <td>
                    <a href="/admin/admindashboard/ejercicios/modificarejercicio/<%= ejercicio[i].id_ejercicio %>">
                        <i class="fa-solid fa-pen-to-square fa-lg" style="color: #cdcdcd;
                        "></i>
                    </a>
                    <i type="button" class="fa-sharp fa-solid fa-trash fa-lg" data-bs-toggle="modal"
                      data-bs-target="#ejercicioModal<%= i %>" style="color: #cdcdcd"></i>
    
                    <div class="modal fade" id="ejercicioModal<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar eliminación</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form id="delete-form" method="post"
                            action="/admin/admindashboard/ejercicios/delete/<%= ejercicio[i].id_ejercicio %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <div class="modal-body">
                              ¿Deseas eliminar el ejercicio <%= ejercicio[i].nombre_ejercicio %>?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                              <button type="submit" class="btn btn-success">Eliminar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </td>
            </tr>
            <% } %>



        </tbody>
    </table>
</div>

<%- include('includes/footAdmin.ejs') %>