<%- include('includes/headAdmin.ejs') %>
  <%- include('includes/sidebar.ejs') %>
    <link rel="stylesheet" href="/css/adminStyle.css">

    <!-- <div class="row ">
  <div class="col">
    <div class="form-group">
      <input type="text" class="form-control" id="searchInput" placeholder="Buscar dieta...">
    </div>
  </div>
  <div class="col">
    <a href="/admin/admindashboard/diets/add" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Agregar nueva dieta</span></a>
  </div>
</div> -->
    <div class="table-responsive">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Dieta</b></h2>
          </div>
          <div class="col-sm-6">
            <a href="/admin/admindashboard/diets/add" class="btn btn-success"><i class="material-icons"></i>
              <span>Agregar nueva dieta</span></a>
          </div>
        </div>
      </div>
      <table class="table-active table-striped">
        <thead class="table-header">
          <tr>
            <th scope="col">Id dieta</th>
            <th scope="col">Nombre dieta</th>
            <th scope="col">Calorías</th>
            <th scope="col">Grasas</th>
            <th scope="col">Proteínas</th>
            <th scope="col">Carbohidratos</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i < dieta.length; i++) { %>
            <tr>
              <td>
                <%= dieta[i].id_dieta %>
              </td>
              <td>
                <%= dieta[i].nombre_dieta %>
              </td>
              <td>
                <%= dieta[i].calorias %>
              </td>
              <td>
                <%= dieta[i].grasas %>
              </td>
              <td>
                <%= dieta[i].proteinas %>
              </td>
              <td>
                <%= dieta[i].carbohidratos %>
              </td>
              <td>
                <a href="/admin/admindashboard/diets/edit/<%= dieta[i].id_dieta %>">
                  <i class="fa-solid fa-pen-to-square fa-lg" style="color: #c1c1c1;"></i>
                </a>
                <i type="button" class="fa-sharp fa-solid fa-trash fa-lg" data-bs-toggle="modal"
                  data-bs-target="#dietaModal<%= i %>" style="color: #cdcdcd"></i>

                <div class="modal fade" id="dietaModal<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar eliminación</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form id="delete-form" method="post"
                        action="/admin/admindashboard/diets/delete/<%= dieta[i].id_dieta %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <div class="modal-body">
                          ¿Deseas eliminar la dieta <%= dieta[i].nombre_dieta %>?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-success">Eliminar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Alimentos</b></h2>
          </div>
          <div class="col-sm-6">
            <a href="/admin/admindashboard/diets/Alimento/add" class="btn btn-success"><i class="material-icons"></i>
              <span>Agregar nuevo alimento</span></a>
          </div>
        </div>
      </div>
      <table class="table-active table-striped">
        <thead class="table-header">
          <tr>
            <th scope="col">Id alimento</th>
            <th scope="col">Descripción alimento</th>
            <th scope="col">Unidad</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i < alimento.length; i++) { %>
            <tr>
              <td>
                <%= alimento[i].id_alimento %>
              </td>
              <td>
                <%= alimento[i].descripcion_alimento %>
              </td>
              <td>
                <%= alimento[i].unidad %>
              </td>
              <td>
                <%= alimento[i].cantidad %>
              </td>
              <td>
                <a href="/admin/admindashboard/diets/modAlimento/<%= alimento[i].id_alimento %>">
                  <i class="fa-solid fa-pen-to-square fa-lg" style="color: #cdcdcd;"></i>
                </a>
                <i type="button" class="fa-sharp fa-solid fa-trash fa-lg" data-bs-toggle="modal"
                  data-bs-target="#alimentoModal<%= i %>" style="color: #cdcdcd;"></i>

                <div class="modal fade" id="alimentoModal<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar eliminación</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form id="delete-form" method="post"
                        action="/admin/admindashboard/diets/deleteFood/<%= alimento[i].id_alimento %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <div class="modal-body">
                          ¿Deseas eliminar el alimento <%= alimento[i].descripcion_alimento %>?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                          <button type="submit" class="btn btn-success">Eliminar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>


    <%- include('includes/footAdmin.ejs') %>