<link rel="stylesheet" href="/css/adminStyle.css">
<%- include('includes/head.ejs') %>
<%- include('includes/sidebar.ejs') %> 

<div class="spacer"></div>


<div class="row ">
  <div class="col">
    <div class="form-group">
      <input type="text" class="form-control" id="searchInput" placeholder="Buscar dieta...">
    </div>
  </div>
  <div class="col">
    <a href="/admin/admindashboard/diets/add" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Agregar nueva dieta</span></a>
  </div>
</div>

  <table class="table-active">
    <thead class="table-header">
      <tr>
        <th scope="col">Id dieta</th>
        <th scope="col">Nombre dieta</th>
        <th scope="col">Grasas</th>
        <th scope="col">Proteínas</th>
        <th scope="col">Calorías</th>
        <th scope="col">Carbohidratos</th>
        <th scope="col">Micronutrientes</th>
        <th scope="col">Macronutrientes</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < dieta.length; i++) { %>
        <tr>
          <td>
            <%= dieta[i].id_dieta %>
          </td>
          <td>
            <%= dieta[i].nombre_dieta %>
          </td>
          <td>
            <%= dieta[i].grasas %>
          </td>
          <td>
            <%= dieta[i].proteinas %>
          </td>
          <td>
            <%= dieta[i].no_calorias %>
          </td>
          <td>
            <%= dieta[i].carbohidratos %>
          </td>
          <td>
            <%= dieta[i].micronutrientes %>
          </td>
          <td>
            <%= dieta[i].macronutrientes %>
          </td>
          <td>
            <button type="button" class="btn btn-primary">Editar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
</div>


