<%- include('includes/head.ejs') %> 
<%- include('includes/sidebar.ejs') %>

<link rel="stylesheet" href="/css/adminStyle.css" />
<div class="table-responsive">
    <div class="table-title">
        <div class="row">
        <div class="col-sm-6">
            <h2><b>Usuarios</b></h2>
        </div>
        <div class="col-sm-6">
            <a href="/admin/admindashboard/userprivileges/add" class="btn btn-success"><i class="material-icons"></i> <span>Agregar Nuevo Usuario</span></a>
        </div>
        </div>
    </div>
    <table class="table-active table-striped">
        <thead class="table-header">
            <tr>
                <th scope="col">Nombre de usuario</th>
                <th scope="col">Email</th>               
                <th scope="col">Rol</th>
                <th scope="col">Acciones</th>
            </tr>
                    </thead>
                    <tbody>
                        <% usersArray.forEach(user=> { %>
                            <% if (user.rol == "administrador") { %>
                                <tr>
                                    <td><%= user.nombre %></td>
                                    <td><%= user.email %></td>
                                    <td>
                                        <span
                                            class="user-role"
                                            data-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="<%= user.privileges %>">
                                            <%= user.rol %>
                                        </span>
                                    </td>
                                    <td>
                                        <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000;"></i>
                                        <form
                                            method="post"
                                            action="/onyx/admindashboard/userprivileges/delete/<%= user.email %>"
                                        >
                                            <input
                                                type="hidden"
                                                name="_csrf"
                                                value="<%= csrfToken %>"
                                            />
                                            <button
                                                type="submit"
                                                class="btn btn-danger"
                                                id="delete-bitacora"
                                            >
                                                Delete
                                            </button>
                                        </form>
                                        
                                    </td>
                                </tr>
                            <% } %>
                        <% }); %>
                    </tbody>
                </table>
            </div>
