<link rel="stylesheet" href="/css/adminStyle.css">
<%- include('includes/head.ejs') %>
<%- include('includes/sidebar.ejs') %> 

<!-- Admin Dashboard Workout -->
<div class="table-responsive">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2><b>Ejercicios</b></h2>
            </div>
            <div class="col-sm-6">
                <a href="/admin/admindashboard/workouts/nuevoejercicio" class="btn btn-success"><i class="material-icons"></i> <span>Agregar Nuevo Ejercicio</span></a>
            </div>
        </div>
    </div>
    <table class="table-active table-striped">
        <thead class="table-header">
            <tr>
                <th scope="col">ID Ejercio</th>
                <th scope="col">Categoria</th>
                <th scope="col">Nivel Intensidad</th>
                <th scope="col">Referencia Visual</th>
                <th scope="col">Descripcion Ejercicio</th>
                <th scope="col">Nombre Ejercicio</th>
                <th scope="col">Imagen Ejercicio</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i < ejercicio.length; i++) { %>
            <tr>
                <th scope="row"><%= ejercicio[i].id_ejercicio %></th>
                <td><%= ejercicio[i].categoria %></td>
                <td><%= ejercicio[i].nivel_intensidad %></td>
                <td><%= ejercicio[i].referencia_visual %></td>
                <!-- dont show all the text -->
                <td class="cell-class"><%= ejercicio[i].descripcion_ejercicio %></td>
                <td><%= ejercicio[i].nombre_ejercicio %></td>
                <td class="cell-class"><%= ejercicio[i].imagen_ejercicio %></td>
                <td class="crud button">
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <% } %>



        </tbody>
    </table>
</div>