<%- include('includes/head.ejs') %>
<%- include('includes/sidebar.ejs') %>

<link rel="stylesheet" href="/css/adminStyle.css">
<style>
  /* Add some margin and padding to the table */
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
  }

  table {
    margin: 1rem 0;
    padding: 0;
  }

  /* Add some font size and weight to the table header */
  thead th {
    font-size: 1.2rem;
    font-weight: bold;
  }

  /* Add some font size to the table cells */
  tbody td {
    font-size: 1rem;
  }

  /* Style the table header */
  .thead-dark th {
    background-color: #343a40;
    color: #fff;
  }

  /* Style the table rows */
  tbody tr:nth-of-type(even) {
    background-color: #f8f9fa;
  }
</style>
    <div class="spacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col">
          <div class="form-group">
            <input type="text" class="form-control" id="searchInput" placeholder="Buscar usuarios...">
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Nombre programa</th>
                  <th>Descripción programa</th>
                  <th>Frecuencia</th>
                  <th>Modificar</th>
                </tr>
              </thead>
              <tbody>
                <% usersArray.forEach(user=> { %>
                  <tr>
                    <td>
                      <%= user.nombre %>
                    </td>
                    <td>
                      <%= user.email %>
                    </td>
                    <td>
                      <%= user.telefono %>
                    </td>
                    <td>
                      <span class="user-role" data-toggle="tooltip" data-bs-placement="top"
                        title="<%= user.privileges %>">
                        <%= user.rol %>
                      </span>
                    </td>
                    <td>
                      <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                          <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                      </button>
                      <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
        $("#searchInput").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("tbody tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>