<%- include('includes/headAdmin.ejs') %>
<%- include('includes/sidebar.ejs') %>
<link rel="stylesheet" href="/css/adminStyle.css">

<script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>

<div class="spacer"></div>
<div class="container">
    <div class="row mb-5">
        <h2 class="text-center">
            Reporte de los usuarios de  <span style="color: #D2CA03;">
                Onyx
            </span>
        </h2>
    </div>
    <div class="col d-flex justify-content-center" id="graph">
        <div id="plotly-chart"></div>
      </div>
      
      <script>
        const mujeres = <%= mujeres %>;
        const hombres = <%= hombres %>;
      
        const data = [{
          type: 'pie',
          values: [mujeres, hombres],
          labels: ['Mujeres', 'Hombres'],
          marker: {
            colors: ['#5f3075', '#306375'],
            opacity: 0.2,
          }
        }];
      
        const layout = {
          height: 600,
          width: 800,
          plot_bgcolor: 'rgba(0,0,0,0)',
          paper_bgcolor: 'rgba(0,0,0,0)',
          
        };
      
        Plotly.newPlot('plotly-chart', data, layout);
      </script>

</div>

<div class="container">
  <table>
    <thead>
      <th>Total</th>
      <Th>Mujeres</Th>
      <th>Hombres</th>
    </thead>
    <tbody>
      <th><%= totalClientes %></th>
      <th><%= mujeres %></th>
      <th><%= hombres %></th>
    </tbody>
  </table>
</div>
