<link rel="stylesheet" href="/css/adminStyle.css">
<%- include('includes/head.ejs') %>
<%- include('includes/sidebar.ejs') %> 

<div class="spacer"></div>


<div class="form-group">
  <input type="text" class="form-control" id="searchInput" placeholder="Buscar programa...">
</div>
<div class="table-responsive">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2><b>Dieta</b></h2>
      </div>
      <div class="col-sm-6">
        <a href="/dieta/create" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Agregar nueva dieta</span></a>
      </div>
    </div>
  </div>
  <table class="table-active">
    <thead class="table-header">
      <tr>
        <th scope="col">Id dieta</th>
        <th scope="col">Nombre dieta</th>
        <th scope="col">Grasas</th>
        <th scope="col">Proteínas</th>
        <th scope="col">Calorías</th>
        <th scope="col">Carbohidratos</th>
        <th scope="col">Micronutrientes</th>
        <th scope="col">Macronutrientes</th>

      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < dieta.length; i++) { %>
        <tr>
          <td>
            <%= dieta[i].id_dieta %>
          </td>
          <td>
            <%= dieta[i].nombre_dieta %>
          </td>
          <td>
            <%= dieta[i].grasas %>
          </td>
          <td>
            <%= dieta[i].proteinas %>
          </td>
          <td>
            <%= dieta[i].no_calorias %>
          </td>
          <td>
            <%= dieta[i].carbohidratos %>
          </td>
          <td>
            <%= dieta[i].micronutrientes %>
          </td>
          <td>
            <%= dieta[i].macronutrientes %>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
</div>



<div class="container">
  <div class="spacer"></div>
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col">
      <h1>Registrar dieta</h1>
      <form action="/dieta/create" method="POST">
        <label for="no_calorias">No. de Calorias:</label>
        <input type="number" name="no_calorias" required><br><br>
  
        <label for="proteinas">Proteinas:</label>
        <input type="number" name="proteinas" required><br><br>
  
        <label for="grasas">Grasas:</label>
        <input type="number" name="grasas" required><br><br>
  
        <label for="carbohidratos">Carbohidratos:</label>
        <input type="number" name="carbohidratos" required><br><br>
  
        <label for="micronutrientes">Micronutrientes:</label>
        <input type="text" name="micronutrientes" required><br><br>
  
        <label for="macronutrientes">Macronutrientes:</label>
        <input type="text" name="macronutrientes" required><br><br>
  
        <label for="nombre_dieta">Nombre de la Dieta:</label>
        <input type="text" name="nombre_dieta" required><br><br>
  
        <label for="alimento">Alimento:</label>
        <select name="alimento">
          <option value="pollo">Pollo</option>
          <option value="carne">Carne</option>
          <option value="pescado">Pescado</option>
        </select><br><br>
  
        <div id="alimentos"></div>
  
        <button type="button" onclick="addAlimento()">Agregar Alimento</button><br><br>
  
        <input type="submit" value="Crear Dieta">
      </form>
    </div>
    <div class="col">
      <h1>Registrar Alimento</h1>
      <form action="/alimento/create" method="POST">
        <label for="unidad">Unidad:</label>
        <input type="text" name="unidad" required><br><br>
  
        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" required><br><br>
  
        <label for="descripcion_alimento">Descripcion del Alimento:</label>
        <input type="text" name="descripcion_alimento" required><br><br>
  
        <input type="submit" value="Crear Alimento">
      </form>
    </div>
  </div>
</div>
<script>
  function addAlimento() {
    const div = document.getElementById("alimentos");
    const label = document.createElement("label");
    label.innerHTML = "Alimento:";
    const select = document.createElement("select");
    select.name = "alimento";
    select.innerHTML = `
      <option value="pollo">Pollo</option>
      <option value="carne">Carne</option>
      <option value="pescado">Pescado</option>
    `;
    div.appendChild(label);
    div.appendChild(select);
    div.appendChild(document.createElement("br"));
    div.appendChild(document.createElement("br"));
  }
</script>
