<%- include('includes/headAdmin.ejs') %>
    <%- include('includes/sidebar.ejs') %>
        <link rel="stylesheet" href="/css/adminStyle.css">

        <script type="text/javascript"
            src='https://cdn.tiny.cloud/1/uz3ydfb6sutfqdre9fd9jk81pdjdml2kz44i2i5gphx1kbzj/tinymce/6/tinymce.min.js'
            referrerpolicy="origin">
        </script>

        <br>
        <br>
        <h1 style="margin-left: 350px;">Editar Programa</h1>


        <!-- make new programa page -->
        <div class="container" id="nuevo-programa">

            <!-- form for new programa -->
            <div class="container" id="form-nuevo-programa">
                <form action="/admin/admindashboard/programas/editar-programa/<%= programa.id_programa %>" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <div class="mb-3">
                        <label for="nombre_programa" class="form-label">Nombre Programa</label>
                        <input type="text" class="form-control" id="nombre_programa" name="nombre_programa"
                            value="<%= programa.nombre_programa %>" required />
                    </div>

                    <div class="mb-3">
                        <label for="frecuencia" class="form-label">Frecuencia</label>
                        <input type="number" class="form-control" id="frecuencia" name="frecuencia"
                            value="<%= programa.frecuencia %>" required />
                    </div>
                    <div class="mb-3">
                        <label for="ref_visual" class="form-label">Referencia Visual</label>
                        <input type="text" class="form-control" id="ref_visual" name="ref_visual"
                            value="<%= programa.ref_visual %>" />
                    </div>

                    <div class="mb-3">
                        <label for="myTextarea" class="form-label">Descripción</label>
                        <textarea id="myTextarea" name="descripcion_programa">
                            <%= programa.descripcion_programa %>
                        </textarea>
                    </div>

                    <div class="mb-3">
                        <label for="photo" class="form-label">Imagen programa</label>
                        <input type="file" class="form-control" id="user_pic" name="image" value="registrar" accept=".jpg, .jpeg, .png, .gif" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>

        <!-- JS TinyMCE -->
        <script>
            tinymce.init({
              selector: 'textarea#myTextarea',
              plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
              toolbar_mode: 'floating',
            });
          </script>

<%- include('includes/footAdmin.ejs') %>