<%- include('includes/headAdmin.ejs') %>
<%- include('includes/sidebar.ejs') %>
<link rel="stylesheet" href="/css/adminStyle.css">

    <script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>

    <div class="spacer"></div>
    <div class="container">
        <div class="row mb-5">
            <h2 class="text-center">
                Reporte de los usuarios de  <span style="color: #D2CA03;">
                    Onyx
                </span>
            </h2>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center" id="graph">

            </div>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <h3 class="text-center">Porcentaje de Usuarios</h3>
            <div class="col d-flex justify-content-center mt-3">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col" class="bg-custom">
                                Total
                            </th>
                            <th scope="col">
                                Mujeres
                            </th>
                            <th scope="col">
                                Hombres
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-dark">
                        <tr>
                            <td>
                                <%= pecho[pecho.length - 1] %> 
                            </td>
                            <td>
                                <% if (pecho.length == 0) {%>0<%} else {%><%=Math.max(...pecho)%><%} %> cm
                            </td>
                            <td>
                                <% if (pecho.length == 0) {%>0<%} else {%><%=Math.min(...pecho)%><%} %> cm
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function createTrace(data, name, date) {
            return {
                x: date,
                y: data,
                type: 'scatter',
                name: name
            };
        }

        const totalClientes = createTrace(<%= JSON.stringify(totalClientes) %>, 'Total');
        const clientesMujeres = createTrace(<%= JSON.stringify(clientesMujeres) %>, 'Brazo Izquierdo');
        const clientesHombres = createTrace(<%= JSON.stringify(clientesHombres) %>, 'Brazo Derecho');


        const layout = {
            autosize: true,
            title: 'Cantidad de clientes',
            xaxis: {
                title: 'numero de clientes',
                zeroline: false
            },
            yaxis: {
                title: 'Total de clientes',
            },
            paper_bgcolor: "rgb(17,17,17)",
            plot_bgcolor: "rgb(17,17,17)",
            height: 600,
            width: 900,
        };
        const data = [totalClientes, clientesMujeres, clientesHombres];
        Plotly.newPlot(graph, data, layout, { theme: "plotly_dark" });
        graph = document.getElementById('graph');

    </script>

    <%- include('includes/foot.ejs') %>