<%- include('includes/head.ejs') %>


<div class="container">
    <div class="spacer">
    </div>

    <div class="container">
        <h2 id="titulopagina">PROGRAMAS PARA TI</h2>

        <div id="orderby">
            <li id="OrderBy" class="nav-item dropdown">
                <a id="orderbybtn" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Ordenar por
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="./entrenamientos.html">Nombre</a></li>
                </ul>
            </li>
        </div>

    </div>

    <% if (Programas.length > 0) { %>
        <div class="container text-center">
            <% for (let programa of Programas) { %>
            <div class="row align-items-start">
                <div class="col">
                    <div class="cards" style="width: 18rem;">
                        <!--<img style="object-fit: cover;" src="<%= programa.imagen%>"
                            class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title"><%= programa.nombre_programa%></h5>
                            <p class="card-text"><%= programa.descripcion_programa%></p>
                            <p class="card-text"><%= programa.frequencia%></p>
                            <a href="#" id="btnstart" class="btn btn-primary">START</a>
                            <br>
                            <a href="#" class="masinfo">MAS INFORMACIÓN</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    <% } else { %>
        <h1>Aun No Hay Entrenamientos</h1>
    <% } %>   
</div>
<%- include('includes/foot.ejs') %>
