<%- include('includes/head.ejs') %>

<script
    src="https://kit.fontawesome.com/77587b01e9.js"
    crossorigin="anonymous"
></script>

<!-- profile page -->
<div class="p-lg-5">

<div class="row col-8  rounded mx-auto mt-5 p-2">
    <div class="col-4">
        <% for (let i=0; i < usuario.length; i++) { %>

        <img src="/assets/manu.jpeg" alt="profile-pic"  class="img-fluid rounded-circle d-flex justify-content-center" style="width: 180px; height: 180px; object-fit: cover;"/>
        <div class="text-center p-3">
            <a href="/onyx/editar-cuenta"><i class="fas fa-user-edit"></i></a>
            <!-- <button class="mx-auto m-1 btn-sm btn btn-warning">Eliminar</button> -->
        </div>
    </div>
    <div class="col-8 mt-3 p-5 mx-auto">
        <div class="usuario-info">
            <h3 class="text-start fw-bold"><%= usuario[i].nombre %> <%= usuario[i].apellido %> </h3>
            <h3 class="text-start fw-bold"> Email: <%= usuario[i].email %> </h3>
            <h3 class="text-start fw-bold"> Objetivo: <%= cliente[i].objetivo %> </h3>

        </div>
        <% } %>
    </div>

    <!-- render tallas page if user click on tallas button -->
    <div id="tallaspage"></div>

</div>


</div>






<%- include('includes/foot.ejs') %>