<%- include('includes/head.ejs') %>

<!-- profile page -->

<div class="container">
    <div class="container mt-5">
        <br/>
        <br />
        <% if (user){ %>
            <div class="d-flex align-items-center justify-content-center">
                <!-- foto de perfil -->
                <div class="profile-pic">
                    <img src="/assets/manu.jpeg" alt="profile-pic" />
                </div>
                <!-- user info -->
                <div class="user-info">
                    <h1 class="fw-bold text-start"> <%= user %> </h1>
                    <div class="descripcion">
                        <p class="text-start"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>
            </div>
        <% } %>
    </div> 
</div>

<div class="row col-8 border rounded mx-auto mt-5 p-2">
    <div class="col-4">
        <% if (user){ %>
        <img src="/assets/manu.jpeg" alt="profile-pic"  class="img-fluid rounded-circle d-flex justify-content-center" style="width: 180px; height: 180px; object-fit: cover;"/>
        <div class="text-center">
            <button class="mx-auto m-1 btn-sm btn btn-primary">Editar</button>
            <button class="mx-auto m-1 btn-sm btn btn-warning">Eliminar</button>
        </div>
    </div>
    <div class="col-8 mt-3 p-5 mx-auto">
        <table class="table table-dark" id="usuario-info">
            <tr><th>First Name</th><td><%= usuario.nombre %> </td></tr>
            <!-- apellido del usuario -->
            <tr><th>Last Name</th><td> <%= usuario.apellido %> </td></tr>
            <!-- email del usuario -->
            <tr><th>Email</th><td> <%= usuario.email %> </td></tr>
            <tr><th>Username</th><td>Manu</td></tr>
        </table>
        <% } %>
    </div>
</div>

<div class="row col-8 border rounded mx-auto mt-5 p-2">
    <div class="col-4">
        <% if (user){ %>
        <img src="/assets/manu.jpeg" alt="profile-pic"  class="img-fluid rounded-circle d-flex justify-content-center" style="width: 180px; height: 180px; object-fit: cover;"/>
        <div class="text-center">
            <button class="mx-auto m-1 btn-sm btn btn-primary">Editar</button>
            <button class="mx-auto m-1 btn-sm btn btn-warning">Eliminar</button>
        </div>
    </div>
    <div class="col-8 mt-3 p-5 mx-auto">
        <div class="usuario-info">
            <h3 class="text-start fw-bold"><%= usuario.nombre %> <%= usuario.apellido %> </h3>
            <h3 class="text-start fw-bold"> Email: <%= usuario.email %> </h3>
            <h3 class="text-start fw-bold"> Objetivo: <%= cliente.objetivo %> </h3>

        </div>
        <% } %>
    </div>
</div>






<%- include('includes/foot.ejs') %>