<%- include('includes/head.ejs') %>


<div class="container">
    <div class="spacer">
    </div>

    <div class="container">
        <h2 id="titulopagina">Detalles de Dieta</h2>
    </div>

<!-- Include the Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Create a canvas element where the chart will be displayed -->
<canvas id="nutrient-chart"></canvas>

<!-- Add a script to generate the chart -->
<script>
// Get the nutrient values from the server
const calorias = <%= detalles.calorias%>;
const proteinas = <%= detalles.proteinas%>;
const carbohidratos = <%= detalles.carbohidratos%>;
const grasas = <%= detalles.grasas%>;
const sodio = <%= detalles.sodio%>;
const fibra = <%= detalles.fibra_total%>;

// Create a bar chart
const ctx = document.getElementById('nutrient-chart').getContext('2d');
const nutrientChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['Calorías', 'Proteínas', 'Carbohidratos', 'Grasas', 'Sodio', 'Fibra'],
    datasets: [{
      label: 'Cantidad',
      data: [calorias, proteinas, carbohidratos, grasas, sodio, fibra],
      backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(153, 102, 255, 0.2)'],
      borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(153, 102, 255, 1)'],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});
</script>




</div>
<%- include('includes/foot.ejs') %>