<%- include('includes/head.ejs') %>

    <div class="spacer"></div>

    <div class="container">
        <div class="spacer"></div>
        <h2 id="titulopagina">DIETAS PARA TI</h2>
        <div id="orderby">
            <li id="OrderBy" class="nav-item dropdown">
                <a id="orderbybtn" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    NUMERO DE CALORIAS
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/onyx/dietas/1500">1500</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/2000">2000</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/3000">3000</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/3500">3500</a>
                    </li>
                </ul>
            </li>
        </div>
    </div>

    <div class="container text-center">
        
        <div class="row align-items-start">
            <% for (let i=0; i < dietas.length; i++) { %>
            <div class="col">
                <div class="cards" style="width: 18rem">
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/health/wp-content/uploads/2022/01/foods_to_eat_to_lose_weight.jpeg"
                    
                        class="card-img-top" alt="..." />
                        <!--<img style="object-fit: cover;" src="<%= dietas[i].imagen_dieta%>"-->
                    <div class="card-body">
                        <h5 class="card-title"> <%= dietas[i].nombre_dieta %></h5>
                        <p class="card-text">Macronutrientes: <%= dietas[i].macronutrientes%></p>
                        <p class="card-text">Micronutrientes: <%=dietas[i].micronutrientes%></p>
                        <p class="card-text">Num Calorias: <%=dietas[i].no_calorias%></p>
                        
                        <a href="#" id="btnstart" class="btn btn-primary">START</a>
                        <br />
                        <a href="#" class="masinfo">MAS INFORMACIÓN</a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    <%- include('includes/foot.ejs') %>