<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <div class="container">
        <div class="spacer"></div>
        <h1 class="fw-bold text-start">Dietas para ti</h1>
            <p class="lead text-start">
                Aquí encontrarás las dietas que se adaptan a tu objetivo
            </p>
        <div id="orderby">
            <li id="OrderBy" class="nav-item dropdown">
                <a id="orderbybtn" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    NUMERO DE CALORÍAS
                </a>
                <ul class="dropdown-menu" style="height: 120px; overflow-y: scroll;">
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas">Eliminar Filtros</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/900">900 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/1000">1000 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/1100">1100 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/1200">1200 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/1300">1300 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/1400">1400 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/1500">1500 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/1600">1600 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/1700">1700 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/1800">1800 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/1900">1900 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/2000">2000 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/2100">2100 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/2200">2200 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/2300">2300 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/2400">2400 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/2500">2500 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/2600">2600 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/2700">2700 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/2800">2800 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/2900">2900 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/3000">3000 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/3100">3100 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/3200">3200 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/3300">3300 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/3400">3400 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/3500">3500 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/3600">3600 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/3700">3700 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/3800">3800 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/3900">3900 - Calorías</a>
                    </li>
                    <li id="navbaritem">
                        <a class="dropdown-item" href="/onyx/dietas/0/4000">+3900 - Calorías</a>
                    </li>
                </ul>


            </li>
        </div>
    </div>

    <div class="container text-center">

        <div class="row align-items-start">
            <%if (dietas.length <= 0) {%>
                <h5>¡Lo sentimos!</h5>
                <p>No hay dietas con las especificaciones buscadas.</p>
            <%} else {%>
                <% for (let i=0; i < dietas.length; i++) { %>
                    <% if (dietas[i].id_dieta !== 1) { %>
                        <div class="col">
                            <div class="cards" style="width: 18rem">
                                <img style="object-fit: cover;" src="/uploads/<%= dietas[i].foto_dieta%>" class="card-img-top"/>
                                <div class="card-body">

                                    <h3 class="card-title">
                                        <%= dietas[i].nombre_dieta %>
                                    </h3>
                                    <p style="margin: -0.5px;">Kcal:  <%= dietas[i].calorias%></p>
                                    <p style="margin: -0.5px;">Proteinas: <%= dietas[i].proteinas%>
                                    </p>
                                    <p style="margin: -0.5px;">Carbohidratos: <%=dietas[i].carbohidratos%>
                                    </p>
                                    <p style="margin: -0.5px;">Grasas: <%=dietas[i].grasas%>
                                    </p>
                                    
                                    <br>

                                    <a href="/onyx/dieta/<%= dietas[i].id_dieta%>" id="btnstart"
                                        class="btn btn-primary">VER DETALLES</a>
                                    <br />
                                    <% if (favoritos.includes(dietas[i].id_dieta)) {%>
                                        <a href="/onyx/favoritos/delete/<%= dietas[i].id_dieta%>/1/dieta" class="fav"><i
                                                class="bi bi-star-fill"></i></a>
                                        <% } else { %>
                                            <a href="/onyx/favoritos/add/<%= dietas[i].id_dieta%>/1/dieta" class="fav"><i
                                                    class="bi bi-star"></i></a>
                                            <% } %>
                                                <!-- <i class="bi bi-star-fill fav"></i> -->
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
        </div>
    </div>
    <br>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <%let contador=0;%>
                <% for (let i=1; i <=Math.ceil(total_dietas/9); i++) { %>
                    <%if(numcal=='' ) { numcal=0;}%>
                        <li class="page-item"><a class="page-link" href="/onyx/dietas/<%=contador%>/<%=numcal%>">
                                <%= i %>
                            </a></li>
                        <%contador +=9;%>
                            <%}%>
        </ul>
    </nav>

    <%- include('includes/foot.ejs') %>