<%- include('includes/head.ejs') %>
<link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <div class="container">
        <div class="spacer"></div>
        <h2 id="titulopagina">DIETAS PARA TI</h2>
        <div id="orderby">
            <li id="OrderBy" class="nav-item dropdown">
                <a id="orderbybtn" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    NUMERO DE CALORIAS
                </a>
                <ul class="dropdown-menu" style="height: 120px; overflow-y: scroll;">
                    <li>
                        <a class="dropdown-item" href="/onyx/dietas/0/0">DEFAULT</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/900">900 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/onyx/dietas/0/1000">1000 CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/onyx/dietas/0/1100">1100 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/onyx/dietas/0/1200">1200 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/onyx/dietas/0/1300">1300 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/onyx/dietas/0/1400">1400 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/onyx/dietas/0/1500">1500 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/1600">1600 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/1700">1700 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/1800">1800 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/1900">1900 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/2000">2000 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/2100">2100 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/2200">2200 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/2300">2300 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/2400">2400 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/2500">2500 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/2600">2600 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/2700">2700 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/2800">2800 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/2900">2900 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/3000">3000 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/3100">3100 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/3200">3200 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/3300">3300 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/3400">3400 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/3500">3500 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/3600">3600 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/3700">3700 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/3800">3800 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/3900">3900 - CALORÍAS</a>
                    </li>
                    <li>
                        <a class="dropdown-item"  href="/onyx/dietas/0/4000">+3900 - CALORÍAS</a>
                    </li>
                </ul>
            

            </li>
        </div>
    </div>

    <div class="container text-center">
        
        <div class="row align-items-start">
            <% for (let i=0; i < dietas.length; i++) { %>
            <div class="col">
                <div class="cards" style="width: 18rem">
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/health/wp-content/uploads/2022/01/foods_to_eat_to_lose_weight.jpeg"
                    
                        class="card-img-top" alt="..." />
                        <!--<img style="object-fit: cover;" src="<%= dietas[i].imagen_dieta%>"-->
                    <div class="card-body">
                        <h5 class="card-title"> <%= dietas[i].nombre_dieta %></h5>
                        <p class="card-text">Macronutrientes: <%= dietas[i].macronutrientes%></p>
                        <p class="card-text">Micronutrientes: <%=dietas[i].micronutrientes%></p>
                        <p class="card-text">Num Calorias: <%=dietas[i].no_calorias%></p>
                        
                        <a href="/onyx/dieta/<%= dietas[i].id_dieta%>" id="btnstart" class="btn btn-primary">EMPEZAR</a>
                        <br />
                        <% if (favoritos.includes(dietas[i].id_dieta)) {%>
                            <a href="/onyx/favoritos/delete/<%= dietas[i].id_dieta%>/1/dieta" class="fav"><i class="bi bi-star-fill"></i></a>
                        <% } else { %>
                            <a href="/onyx/favoritos/add/<%= dietas[i].id_dieta%>/1/dieta" class="fav"><i class="bi bi-star"></i></a>
                        <% } %>
                        <!-- <i class="bi bi-star-fill fav"></i> -->
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <br>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <%let contador = 0;%>
            <% for (let i = 1; i <= Math.ceil(total_dietas/9); i++) { %>
                <%if(numcal == '') { numcal = 0;}%>
                <li class="page-item"><a class="page-link" href="/onyx/dietas/<%=contador%>/<%=numcal%>"><%= i %></a></li>
                <%contador += 9;%>
            <%}%>
        </ul>
      </nav>

    <%- include('includes/foot.ejs') %>