<%- include('includes/headAdmin.ejs') %> <%- include('includes/sidebar.ejs') %>

<link rel="stylesheet" href="/css/adminStyle.css" />

<div class="container">
    <div class="row">
        <div class="col-12">
        <h1 style="margin-left: 100px; margin-top: 10px;">Gráfica de Ejercicios</h1>
        <p style="margin-left: 100px; margin-top: 10px;">Esta gráfica muestra la cantidad de ejercicios que hay en cada categoría.</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <canvas id="myChart" width="400" height="400"></canvas>


    <script>

        const Hipertrofia = <%= hipertrofiaCount %>;
        const Fuerza = <%= fuerzaCount %>;
        const Resistencia = <%= resistenciaCount %>;
        const Push = <%= pushCount %>;
        const Pull = <%= pullCount %>;
    
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Fuerza', 'Hipertrofia', 'Resistencia', 'Push', 'Pull'],
                datasets: [{
                    label: 'Conteo de Ejercicios',
                    data: [Fuerza, Hipertrofia, Resistencia, Push, Pull],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 152, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)'
                    ],
                    borderWidth: 1,
                    
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 3,
                            min: 0,
                        }
                    }
                }
            }
        });


    </script>
</div>


<%- include('includes/footAdmin.ejs') %>
