<%- include('includes/headAdmin.ejs') %>
<%- include('includes/sidebar.ejs') %>
    <link rel="stylesheet" href="/css/adminStyle.css">
    <div class="container">
      <div class="spacer"></div>
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <h1>Modificar Privilegio</h1>
          
          
            <br>
            <form action="/admin/admindashboard/modrol/<%= id %>" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <br>
              <label>Privilegios:</label>
              <br>
              <% privileges.forEach(function(privilege) { %>
                <% var checked = false; %>
                <% rolPrivilegio.forEach(function(rp) { %>
                  <% if (rp.id_rol == id && rp.id_cu == privilege.id_cu) { %>
                    <% checked = true; %>
                  <% } %>
                <% }); %>
                <input type="checkbox" id="privilege_<%= privilege.id_cu %>" name="privileges" value="<%= privilege.id_cu %>" class="form-check-input" <% if (checked) { %>checked<% } %>>
                <label for="privilege_<%= privilege.id_cu %>" class="form-check-label"><%= privilege.nombrecu %></label>
                <br>
              <% }); %>
              <br><br>
              <input type="submit" class="btn-custom" value="Modificar rol">
            </form>            
        </div>
      </div>
    </div>

<%- include('includes/footAdmin.ejs') %>