<!DOCTYPE html>
<%- include('includes/headAdmin.ejs') %>
<%- include('includes/sidebar.ejs') %>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Modificar rol</title>
    <link rel="stylesheet" href="/css/adminStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
      select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

    </style>
  </head>
  <body>
    <div class="container">
      <div class="spacer"></div>
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <h1>Modificar rol</h1>
          <br><br><br>
          <form action="/admin/admindashboard/modrol" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <label for="rol">Selecciona un rol:</label>
            <select id="rol" name="rol">
              <% roles.forEach(function(role) { %>
              <option value="<%= role.id_rol %>"><%= role.nombreRol %></option>
              <% }); %>
            </select>
            <br>
            <label for="privilegios">Privilegios:</label>
            <div class="privilege-form">
              <div class="form-group">
                <label for="privilege1">Privilegio 1:</label>
                <select id="privilege1" name="privilege[]" class="form-control privilege-select" placeholder="Agregar Privilegio">
                  <option value="">Selecciona un privilegio</option>
                  <% privileges.forEach(function(privilege) { %>
                  <option value="<%= privilege.id_privilegio %>"><%= privilege.nombrecu %></option>
                  <% }); %>
                </select>
              </div>
            </div>
            <button type="button" class="btn btn-secondary add-privilege">Agregar Privilegio</button>
            <br><br>
            <input type="submit" value="Modificar rol">
          </form>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        $('.add-privilege').click(function() {
          var newPrivilege = $('.privilege-form .form-group').length + 1;
          var html = '<div class="form-group">';
          html += '<label for="privilege' + newPrivilege + '">Privilegio ' + newPrivilege + ':</label>';
          html += '<select id="privilege' + newPrivilege + '" name="privilege[]" class="form-control privilege-select" placeholder="Agregar Privilegio">';
          html += '<option value="">Selecciona un privilegio</option>';
          var selectedPrivileges = $('.privilege-select').map(function() { return $(this).val(); }).get();
          <% privileges.forEach(function(privilege) { %>
          if ($.inArray('<%= privilege.id_privilegio %>', selectedPrivileges) == -1) {
            html += '<option value="<%= privilege.id_privilegio %>"><%= privilege.nombrePriv %></option>';
          }
          <% }); %>
          html += '</select>';
          html += '</div>';
          $('.privilege-form').append(html);
        });
      });
    </script>
  </body>
</html>
