<%- include('includes/head.ejs') %>

<div class="container">
    <div class="spacer"></div>
  
    <div class="container">
      <h2 id="titulopagina"> <%= detalles.nombre_programa%></h2>
    </div>
  
    <div class="spacer"></div>
  
    <div class="container">
      <p><%= detalles.descripcion_programa%></p>
      <p><%= detalles.frecuencia%> veces a la semana </p>
      <div class="spacer"></div>
      <a href="/onyx/bitacora" class="btn btn-custom">Registrar en Bitácora</a>
    </div>
  
    <br>
  </div>
<%- include('includes/foot.ejs') %>