<%- include('includes/head.ejs') %>

  <div class="img_container">
    <img class="img_programa" src="/uploads/<%= detalles.img_programa %>">
  </div>

  <div class="container-fluid">

    <div class="container mt-5 text-center">
      <h1 id="titulopagina">
        <%= detalles.nombre_programa%>
      </h1>
    </div>

    <div class="spacer"></div>

    <div class="container">
      <div class="row">
        <div class="col">
          <%- detalles.descripcion_programa%>
            <div class="spacer"></div>
            <a href="/onyx/nuevabitacora" class="btn btn-custom">Registrar en Bitácora</a>
        </div>
      </div>
    </div>

    <br>
  </div>
  <%- include('includes/foot.ejs') %>