  <%- include('includes/headAdmin.ejs') %>
  <%- include('includes/sidebar.ejs') %>

  <link rel="stylesheet" href="/css/adminStyle.css" />

  
  <div class="container mt-5">
    <h1 class="text-center">Registro de Roles - Onyx</h1>
    <div class="row justify-content-center">
      <form class="col-md-6" action="/admin/adminDashboard/reg_rol" method="post">
        <div class="form-group">
          <% if (typeof mensaje !== 'undefined' && mensaje !== '') { %>
          <div class="alert alert-success">
          <p><%=mensaje%></p>
          </div>
          <% } %>
          <label for="nombreRol">Nombre del Rol:</label>
          <input type="text" class="form-control" name="nombreRol" id="nombreRol" required>
        </div>
        <label>Privilegios:</label>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Privilegios</th>
              <th>Selec.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Registrar Bitacora</td>
              <td><input type="checkbox" name="privilegios" value="1"></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Registrar Alimento</td>
              <td><input type="checkbox" name="privilegios" value="2"></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Registrar Dieta</td>
              <td><input type="checkbox" name="privilegios" value="3"></td>
            </tr>
            <tr>
              <td>4</td>
              <td>Registrar Entrenamiento</td>
              <td><input type="checkbox" name="privilegios" value="4"></td>
            </tr>
            <tr>
              <td>5</td>
              <td>Registrar Rutina</td>
              <td><input type="checkbox" name="privilegios" value="5"></td>
            </tr>
            <tr>
              <td>6</td>
              <td>Registrar Usuario</td>
              <td><input type="checkbox" name="privilegios" value="6"></td>
            </tr>
            <tr>
              <td>7</td>
              <td>Registrar Rol</td>
              <td><input type="checkbox" name="privilegios" value="7"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
      <label>Roles Registrados:</label>
        <div class="table-container" style="height: 300px; overflow-y: scroll; overflow-y: auto; "> 
          <table class="table table-bordered" id="tabla-roles">
            <thead class="sticky-header">
              <tr>
                <th>ID</th>
                <th>Nombre del Rol</th>
              </tr>
            </thead>
            <tbody>
              <% roles.forEach(function(rol) { %>
              <tr>
                <td><%= rol.id_rol %></td>
                <td><%= rol.nombreRol %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <button type="submit" class="btn btn-primary">Registrar Rol</button>
    </div>
    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
  </form>
  </div>
  </div>
  <%- include('includes/foot.ejs') %>
</body>
</html>
