<%- include('includes/head.ejs') %>

    <div class="container">
        <div class="container mt-5">
            <br />
            <br />
            <h1 class="fw-bold text-start">
                <%= pagetitle %>
            </h1>
            <p class="lead text-start">
                Llena los campos necesarios para recuperar contrase単a
            </p>
        </div>

        <!-- form for change password -->
        <div class="container">
            <form method="POST" action="/onyx/resetPassword">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" id="token" name="token" value="<%= token %>">
                <div class="mb-3">
                    <label for="password" class="form-label">Contrase単a</label>
                    <input type="password" class="form-control" id="password" name="password" required />
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirmar contrase単a</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
                </div>
                <button type="submit" class="btn btn-primary text-dark" id="changePassword">Reiniciar contrase単a</button>
                <!-- cancelar -->
                <a href="/onyx/" class="btn btn-danger" id="cancelar">Cancelar</a>
            </form>
        </div>

    </div>

    <%- include('includes/foot.ejs') %>