<%- include('includes/head.ejs') %>

    <main>
        <div class="spacer">
        </div>
        <div class="container">

            <div class="row">
                <div class="col">
                    <h2 id="titulopagina" style="cursor: default; margin-left: 5%;">Tallas</h2>
                </div>
            </div>

            <%if (sexo=='Masculino' ) {%>

                <div class="row">
                    <div class="col-6">
                        <div class="image-tallas mt-5">
                            <img style="box-shadow: 0 0 8px #d2ca03;" src="../assets/male-body-nobg.png" alt="male-body-nobg">
                        </div>
                    </div>
                    <div class="col-6">
                        <form action="/onyx/tallas" method="POST">
                            <label for="inputcuello">Cuello:</label>
                            <input type="number" min="0" name="inputcuello" value="<%=cuello[cuello.length-1]%>"
                                placeholder="cuello" class="input-talla" /> <br>
                            <label for="inputpecho">Pecho:</label>
                            <input type="number" min="0" name="inputpecho" value="<%=pecho[pecho.length-1]%>"
                                placeholder="pecho" class="input-talla"/> <br>
                            <label for="inputbrazo_izquierdo">Brazo Izquierdo:</label>
                            <input type="number" min="0" name="inputbrazo_izquierdo"
                                value="<%=brazoI[brazoI.length-1]%>" placeholder="Brazo izq" class="input-talla"/> <br>
                            <label for="inputbrazo_derecho">Brazo Derecho:</label>
                            <input type="number" min="0" name="inputbrazo_derecho"
                                value="<%=brazoD[brazoD.length-1]%>" placeholder="Brazo Der" class="input-talla"/> <br>
                            <label for="inputcintura">Cintura:</label>
                            <input type="number" min="0" name="inputcintura" value="<%=cintura[cintura.length-1]%>"
                                placeholder="cintura" class="input-talla"/> <br>
                            <label for="inputcadera">Cadera:</label>
                            <input type="number" min="0" name="inputcadera" value="<%=cadera[cadera.length-1]%>"
                                placeholder="cadera" class="input-talla" /> <br>
                            <label for="inputpierna_izquierda">Pierna Izquierda:</label>
                            <input type="number" min="0" name="inputpierna_izquierda"
                                value="<%=piernaI[piernaI.length-1]%>" placeholder="pierna izq" class="input-talla"/> <br>
                            <label for="inputpierna_derecha">Pierna Derecha:</label>
                            <input type="number" min="0" name="inputpierna_derecha"
                                value="<%=piernaD[piernaD.length-1]%>" placeholder="pierna der" class="input-talla"/> <br>
                            <label for="inputpantorrilla_izquierda">Pantorrilla Izquierda:</label>
                            <input type="number" min="0" name="inputpantorrilla_izquierda"
                                value="<%=pantorrillaI[pantorrillaI.length-1]%>" placeholder="pantorrilla izq"
                                class="input-talla"/> <br>
                            <label for="inputpantorrilla_derecha">Pantorrilla Derecha:</label>
                            <input type="number" min="0" name="inputpantorrilla_derecha"
                                value="<%=pantorrillaD[pantorrillaD.length-1]%>" placeholder="pantorrilla der"
                                class="input-talla"/> <br>
                            <label for="inputpeso">Peso:</label>
                            <input type="number" min="0" name="inputpeso" value="<%=peso[peso.length-1]%>"
                                placeholder="peso" class="input-talla"/> <br>
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>"> <br>
                            <button type="submit" class="btn-talla">Modificar</button>
                        </form>
                    </div>

                </div>
            <%} else {%>
                <div class="row">
                    <div class="col-6">
                        <div class="image-tallas mt-5">
                            <img src="../assets/male-body-nobg.png" alt="male-body-nobg">
                        </div>
                    </div>
                    <div class="col-6">
                        <form action="/onyx/tallas" method="POST">
                            <label for="inputcuello">Cuello:</label>
                            <input type="number" min="0" name="inputcuello" value="<%=cuello[cuello.length-1]%>"
                                placeholder="cuello" class="input-talla" /> <br>
                            <label for="inputpecho">Pecho:</label>
                            <input type="number" min="0" name="inputpecho" value="<%=pecho[pecho.length-1]%>"
                                placeholder="pecho" class="input-talla"/> <br>
                            <label for="inputbrazo_izquierdo">Brazo Izquierdo:</label>
                            <input type="number" min="0" name="inputbrazo_izquierdo"
                                value="<%=brazoI[brazoI.length-1]%>" placeholder="Brazo izq" class="input-talla"/> <br>
                            <label for="inputbrazo_derecho">Brazo Derecho:</label>
                            <input type="number" min="0" name="inputbrazo_derecho"
                                value="<%=brazoD[brazoD.length-1]%>" placeholder="Brazo Der" class="input-talla"/> <br>
                            <label for="inputcintura">Cintura:</label>
                            <input type="number" min="0" name="inputcintura" value="<%=cintura[cintura.length-1]%>"
                                placeholder="cintura" class="input-talla"/> <br>
                            <label for="inputcadera">Cadera:</label>
                            <input type="number" min="0" name="inputcadera" value="<%=cadera[cadera.length-1]%>"
                                placeholder="cadera" class="input-talla" /> <br>
                            <label for="inputpierna_izquierda">Pierna Izquierda:</label>
                            <input type="number" min="0" name="inputpierna_izquierda"
                                value="<%=piernaI[piernaI.length-1]%>" placeholder="pierna izq" class="input-talla"/> <br>
                            <label for="inputpierna_derecha">Pierna Derecha:</label>
                            <input type="number" min="0" name="inputpierna_derecha"
                                value="<%=piernaD[piernaD.length-1]%>" placeholder="pierna der" class="input-talla"/> <br>
                            <label for="inputpantorrilla_izquierda">Pantorrilla Izquierda:</label>
                            <input type="number" min="0" name="inputpantorrilla_izquierda"
                                value="<%=pantorrillaI[pantorrillaI.length-1]%>" placeholder="pantorrilla izq"
                                class="input-talla"/> <br>
                            <label for="inputpantorrilla_derecha">Pantorrilla Derecha:</label>
                            <input type="number" min="0" name="inputpantorrilla_derecha"
                                value="<%=pantorrillaD[pantorrillaD.length-1]%>" placeholder="pantorrilla der"
                                class="input-talla"/> <br>
                            <label for="inputpeso">Peso:</label>
                            <input type="number" min="0" name="inputpeso" value="<%=peso[peso.length-1]%>"
                                placeholder="peso" class="input-talla"/> <br>
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>"> <br>
                            <button type="submit" class="btn-talla">Modificar</button>
                        </form>
                    </div>

                </div>
            <%}%>
        </div>
    </main>

    <%- include('includes/foot.ejs') %>